*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    background-color: rgb(255, 243, 11);
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 410px;
    gap: 20px;
}

.form input{
    background-color: lightgoldenrodyellow;
    color: rgba(0, 0, 0, 0.779);
}
.form textarea{
    background-color: lightgoldenrodyellow;
    color: rgba(0, 0, 0, 0.801);
}