.html {
    background-color: black;
    border: 20px;
    border: dotted white;
    padding: 80px;
}
.html a{
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 10px;
    display: flex;
  
}

.html h2{
    color: red;
}

.css {
    background-color: black;
    border: 20px;
    border: dotted white;
    padding: 80px;
}
.css a{
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 10px;
    display: flex;

}

.css h2{
    color: red;
}

.js {
    background-color: black;
    border: 20px;
    border: dotted white;
    padding: 80px;
}

.js a{
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 10px;
    display: flex;

}

.js h2{
    color: red;
}

.myindex{
    text-align: center;
    background-color: black;
    padding: 20px;
    color: rgb(232, 11, 11);
    border: dotted red;
    

}

.backdrop{
    background-color: aqua;

}