body{
    background-color: black;
}

.box{
    background-color: blue;
    border: 20px solid;
    color: white;
    padding: 20px;
    width: 200px;
    height: 200px;
}


.parent{
    display: flex;
    justify-content: space-around;
}

@media (max-width:1600px){
    .box{
        background-color: cadetblue;

    }
}

@media (max-width:1200px) {
    .box {
        background-color: chocolate;
        display: none;
    }
}

@media (max-width:1024px){
    .box{
        background-color: chartreuse;
        display: block;
        
    }
}


@media (max-width:768px) {

   .box{
    background-color: rgb(251, 79, 48);
    display: none;
   }
    
}

@media (max-width:600px) {

   .box{
    background-color: aquamarine;
      display: block;
   }
    
}


@media (max-width:480px) {

   .box{
    background-color: rgb(44, 99, 82);
    display: none;
   }
    
}