
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    padding: 20px;
    background-color: rgb(6, 6, 6);
    display: flex;
    justify-content: space-between;
    
}

.nav{
    
    display: flex;
    gap: 20px;

}


.nav a{

    text-decoration: none;
    color: white;

}

.logo{
    color: white;
}


.parent-box{
    
    background-color: aqua;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;


}


.box{

      background-color: yellow;
      color: red;
      padding: 30px;
      width: 400px;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;

}
